html, body, #root{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

#main, .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page {
    min-height: 100vh;
    width: 100%;
}

p, h1, h2, h3, h4, label {
    font-family: "Tahoma", "Arial", "sans-serif";
    text-align: justify;
}

.break-bar {
    display: flex;
    justify-content: space-between;
}

.break-bar > div {
    display: flex;
}

.break-bar > div > .bb-spacer, .break-bar > .bb-spacer {
    width: 50px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.image-box > a > img, .image-box > img {
    max-height: 198px;
    margin-left: 5px;
    margin-right: 5px;
}

#project-boxes, #goal-boxes, #about-boxes {
    display: flex;
    flex-direction: row;
}

.inner-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-box, .goal-box, .about-box {
    margin: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-box > h2, .goal-box > h2, .about-box > h2 {
    margin: 0px;
}

#me-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.bb-text {
    cursor: pointer;
}

hr {
    visibility: hidden;
    margin: 0px;
}

.project-box > p:nth-child(3) {
    margin-top: 0px;
}

@media screen and (max-width: 1040px) {
    #project-boxes, #goal-boxes, #about-boxes {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    .project-box, .goal-box, .about-box {
        width: 90vw;
    }

    .image-box > a > img, .image-box > img {
        max-width: 80vw;
        margin: 0px;
    }

    #page-0 > h2 {
        font-size: 7vw;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .break-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .break-bar > h3, .break-bar > div > h3 {
        margin: 5px;
        font-size: 5vw;
    }

    .break-bar > .bb-spacer {
        display: none;
    }

    .break-bar > div:nth-child(2) > .bb-spacer {
        display: none;
    }

    .break-bar > div:nth-child(1) > .bb-spacer {
        width: 10vw
    }
    
    #me-img {
        max-height: 90vw;
        max-height: 200px;
        max-width: 90vw;
        max-width: 200px;
        border-radius: "50%";
    }

    hr {
        visibility: visible;
        width: 80vw;
        margin: 15px;
    }
}

@media screen and (max-width: 533px) {
    .image-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-box > img:nth-child(2) {
        margin-top: 5px;
    }
}